@import 'dashboard/header.scss';
@import 'dashboard/footer.scss';
@import 'dashboard/menu.scss';

@import 'tablero/tablero.scss';

@import 'settings/settings.scss';

.views{
    width: 70%;
    display: inline-block;
    vertical-align: middle;
}
