.subheader{
    width: 100%;
    background: #fafbfb;
    color: #6e7d7b;
    box-shadow: inset 0px 8px 17px -5px #214f5d;
    height: 40px;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #79949c;
    vertical-align: top;

}
