    .barMenu{
        background: #012530;
        width: 20%;
        min-height: 600px;
        display: inline-block;
        vertical-align: top;
        .linkStyle{
            text-decoration: none;
            .menuOption{
                color: #edf2f1;
                text-decoration: none;
                height: 50px;
                padding: 5px;
                font-size: 14px;
                line-height: 30px;
                padding-left: 10px;
                cursor: pointer;
                &:hover{
                    background: rgba(3, 80, 104, 0.973);
                    box-shadow: 0px 10px 18px #000000;
                    &>.ico{
                    color: #279e8c;
                    }
                } 
                .txtMenu{
                    color: #edf2f1;
                    margin-left: 10px;
                    display: inline-block;
                    vertical-align: middle;
                }
                .ico{
                    color: #79949c;
                    font-size: 20px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }