.contentTable{
    padding-top: 30px;
    table{
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        border-collapse: collapse;
        background: #f3f3f3;
        height: 50px;
        th{
            background: #fafbfb;
            color: #214f5d;
            padding: 5px;
        }

        tbody{
            tr{
                height: 40px;
                .checkbox{
                    display: inline-block;
                    vertical-align: middle;
                    width: 50%;
                    color: #212121;
                    .ico{
                        color: #2196f3;
                        font-size: 20px;
                        margin-right: 10px;
                        cursor: pointer;
                    }
                    .text{
                        margin-right: 10px;
                    }
                }
                &:nth-child(even) {
                    background: #e8eaf6;
                }
            }
            .nombreWrap{
                .iconContact{
                    width: 25%;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 24px;
                    text-align: center;
                    .ico{
                        color: #616161;
                    }
                }
                .nameWrap{
                    width: 75%;
                    display: inline-block;
                    vertical-align: middle;
                }
                width: 30%;
            }
            .emailWrap{
                width: 25%
            }
            .notificationWrap{
                text-align: center;
                width: 30%;
            }
            .iconWrap{
                width: 5%;
                .icoEdit{
                    color: #279e8c;
                    font-size: 27px;
                    width: 50%;
                    padding: 2px;
                    cursor: pointer;
                    &:hover{
                        color: rgba(0, 0, 0, .8);
                    }
                }
                .icoDelete{
                    color: #e61610;
                    font-size: 20px;
                    padding: 2px;
                    cursor: pointer;
                    &:hover{
                        color: rgba(0, 0, 0, .8);
                    }
                }
            }
        }
    }
}
.buttonContainer{
    width: 100%;
    border: #A7A7A7;
    margin-left: 35%;
    margin-top: 15%;
    .b1Container{
        margin: 15px;
        .button1{
                text-align: center;
                margin: 0 auto;
                width: 150px;
                background: #ffa834;
                color: #fafbfb;
                height: 50px;
                border-radius: 10px;
                line-height: 50px;
                font-size: 20px;
                cursor: pointer;
                &:hover{
                    background: #A7A7A7;
            }
            .ico{
                display: inline-block;
                margin-right: 15px;
            }
        }
    }
    .b2Container{
        .button2{
            text-align: center;
            margin: 0 auto;
            width: 150px;
            background: #214f5d;
            color: #fafbfb;
            height: 50px;
            border-radius: 10px;
            line-height: 50px;
            font-size: 20px;
            cursor: pointer;
            &:hover{
                background: #A7A7A7;
            }
        }
    }
}